.header{
    display: flex;
    align-items: center;
}
.delivery-img{
    width: 14px;
    height: 14px;
}
.primary-text-size{
    font-size: 16px;
    color: white;
}
.Delivery{
    border-radius: 30px;
    width: 200px;
    background-color: red;
}
.containerDelivery{
    background-color: gray;
    width: 400px;
    border-radius: 30px;
}
.location{
    margin-left: 20px;
}
.logo{
    width: 100px;
    height: 100px;
}